<h2 class="bg-primary text-white m-2 p-2" (mouseover)="obj.welcome()">
    Bring your mouse here
</h2>
<div class="container bg-success-subtle text-success">
    <h4 class="text-center">Bytes:{{byteData1}} equal to {{byteData1|data}}</h4>
    <h4 class="text-center">Bytes:{{byteData2}} equal to {{byteData2|data}}</h4>
    <h4 class="text-center">Bytes:{{byteData3}} equal to {{byteData3|data}}</h4>
</div>
<div class="container bg-success text-sucess">
    <h4 class="text-center">kilo bytes:{{kbData1}} equal to {{kbData1|data}}</h4>
    <h4 class="text-center">kilo bytes:{{kbData2}} equal to {{kbData2|data}}</h4>
</div>
<div class="container bg-success text-sucess">
    <h4 class="text-center">Mega Bytes:{{mbData1}} equal to {{mbData1|data}}</h4>
    <h4 class="text-center">Mega Bytes:{{mbData2}} equal to {{mbData2|data}}</h4>
</div>
