<div class="container bg-success-subtle text-success">
    <div class="row">
        <div class="col-md-4">
            <form>
                <div class="mb-3">
                    <label for="username" class="form-label">Jobseeker Name</label>
                    <input type="text" class="form-control" id="username" name="username" [(ngModel)]="name">
                </div>
                <button class="btn btn-primary" (click)="apply()">Apply for Job</button>
            </form>
        </div>
    </div>
</div>