<h1>Angular Directive</h1>
<ul>
    <li>Component Directive</li>
    <li>Structural Directive: *ngFor,*ngIf,*ngSwitch</li>
    <li>Attribute Directive: ngClass, ngStyle</li>
</ul>
<h2>Structural Directive</h2>
<h2>*ngFor Example</h2>
<ul>
  <li *ngFor="let p of products">
    ID: {{p.pid}}
    Name: {{p.pname}}
    Price: {{p.price}}
  </li>
</ul>

<h4 style="background-color: aqua; color: black">Second Way to print</h4>
@for (product of products; track $index) {
    <ul>
    <li>
    ID: {{product.pid}}
    Name: {{product.pname}}
    Price: {{product.price}}
    </li>
    </ul>
}