<table class="table table-hover table-success table-bordered">
    <thead>
        <tr>
            <td>Passport Id</td>
            <td>Holder Name</td>
            <td>Passport Number</td>
            <td>Passport Expiry</td>
            <td>PPO Code</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of srv.passportList">
            <td>{{p.Id}}</td>
            <td>{{p.HolderName}}</td>
            <td>{{p.PassportNumber}}</td>
            <td>{{p.ExpiryDate}}</td>
            <td>{{p.PPOCode}}</td>
        </tr>
    </tbody>
</table>